@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');
/*global css*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
}
:root{
    --color1: #f9ca24;
}
*::selection{
    background: var(--color1);
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}
body{
    background: #111;
    overflow-x:hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 1rem;
}
.btn{
    padding:.7rem 3rem;
    background: #333;
    color: #fff;
    cursor:pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background: var(--color1);
}
.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color:white;
}
.heading span{
    color:var(--color1);
}
header{
    position: fixed;
    top:0;
    left:0;
    z-index:1000;
    height: 100%;
    width: 35rem;
    background:#1a1a1a;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column;
    text-align:center;
}
header .user img{
    height: 17rem;
    width:17rem;
    border-radius:50%;
    object-fit:cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--color1);
}
header .user .name{
    font-size:3.5rem;
    color:white;
}
header .user .post{
    font-size:2rem;
    color:#eee;
}
header .navbar{
    width:100%;
}
header .navbar ul{
    list-style:none;
    padding: 1rem 3rem;
}
header .navbar ul li a{
    display:block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    font-size:2rem;
    border-radius: 5rem;
    color:#eee;
}
header .navbar ul li a:hover{
    background: var(--color1);
}
/*menu*/
#menu{
    position: fixed;
    top: 2rem;
    right:2rem;
    color:#fff;
    cursor:pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display:none;
}
/*home*/
.home{
    display: flex;
    justify-content: center;
    flex-flow:column;
    padding: 0 15rem;
}
.home h3{
    font-size: 2.5rem;
    color: #fff;
}
.home h1{
    font-size: 5rem;
    color: #fff;
}
.home h1 span{
    color: var(--color1);
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about .row .info{
    flex: 1 1 0rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}
.about .row .info h3{
    font-size: 2rem;
    color: var(--color1);
    padding: 1rem 0;
    font-weight: normal;
}
.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about .row .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 3rem;
    margin: 3rem;
}
.about .row .counter .box:hover{
    transform: scale(1.2);
    background-color: #f9ca24;
    cursor: pointer;
}
.about .row .counter .box:hover span{
    color: #1a1a1a;
}
.about .row .counter .box span{
    font-size: 4rem;
    color: var(--color1);
}
.about .row .counter .box h3{
    font-size: 2rem;
    color: #eee;
}
.about .row .info h3 span{
    color: #eee;
    padding: 0 .5rem;
}
.edu .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}
.edu .box-container .box{
    width: 100%;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}
.edu .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}
.edu .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}
.edu .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
    text-transform: none;
}
.edu .box-container .box i{
    position: absolute;
    top:-1.5rem;
    left:-2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--color1);
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem; 
    margin-bottom: 4rem;
}
.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
.contact .row form .box::placeholder{
    text-transform: capitalize;
}
.contact .row form .msg{
    height: 15rem;
    resize: none;
}
.contact .row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
    text-transform: none;
}
.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--color1);
}
.top{
    position:fixed;
    bottom:7.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
}
.top i{
    border-radius: 50%;
    border: none;
    padding: 3rem 3rem;
    background-color: #f9ca24;
    color:#111;
    font-size: 2rem;
}
.top:hover{
    transform: rotate(360deg);
}
.skill .progress-container{
    position: relative;
    display: flex;
    justify-content: center;
    min-height:60vh;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.skill .progress-container .progress{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius:50%;
    color: #fff;
    background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
}
.skill .progress-container .progress h3{
    position: absolute;
    top:30%;
    left: 36%;
    transform: translateY(-50%, -50%);
    font-size: 3rem;
    z-index: 1;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.skill .progress-container .progress h3 span{
    font-size: 0.65em;
    font-weight: 400;
}
.skill .progress-container .progress h4{
    position: absolute;
    top: 62%;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 600;
    font-size: medium;
    color: var(--clr);
    text-transform: uppercase;
}
.skill .progress-container .progress::before{
    content:'';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin:left;
    border-radius: 0 100% 100% 0/50%;
    background: #444;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}
.skill .progress-container .progress::after{
    content:'';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
}
.skill .progress-container .progress p{
    font-size: 1.4rem;
    color: #eee;
    padding: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}
.progress-container .progress-html{
    --i:45;
    --clr:#43f94a;
}
.progress-container .progress-css{
    --i:40;
    --clr: #2ccde9;
}
.progress-container .progress-js{
    --i:35;
    --clr:#fb297b;
}
@keyframes progress{
    0%{
        width: 0;
    }100%{
        width: 100%;
    }
}
/*media queries*/
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
    .about .row .counter .box{
        font-size: smaller;
    }
}
@media (max-width: 991px){
    header{
        left:-120%;
    }
    #menu{
        display:block;
    }
    header.toggle{
        left:0%;
    }
    body{
        padding: 0;
    }
}
@media (max-width: 768px){
    header{
        font-size: 50%;
    }
}
@media (max-width: 400px){
    header{
        width: 100vw;
    }
    .heading{
        margin: 0 3rem;
    }
    .about .row .counter .box{
        width: 100%;
    }
    .edu .box-container .box{
        width: 100%;
    }
    .contact .row form{
        margin: 10rem 0;
    }
}
